In [1]:
# Author: Brent Artuch
# Date: 2024-11-29

## Comments

In [2]:
# Use the "#" sign to comment

## Continue Lines

In [3]:
# Using "\"
sum = 1 + \
      2 + \
      3 + \
      4

sum

10

In [4]:
# Within "()"
sum = (
    1 + 
    2 + 
    3 + 
    4
)

sum

10

## Conditional Statements

In [5]:
# if
name = 'jeff'
if name: print(f"His name is {name}.")

His name is jeff.

In [6]:
# else
if name == 'jill': print(f"Her name is {name}.")
else: print(f"Her name is not {name}.")

Her name is not jeff.

In [7]:
# elif
name = 'jen'
if name == 'jill': print(f"Her name is {name}.")
elif name == 'jen': print(f"Her name is {name}.")
else: print(f"Her name is not {name}.")

Her name is jen.

In [8]:
# Nested
tall = True
if name:
    if tall: print("He is tall!")

He is tall!

## Eqaullity

In [9]:
# Single Comparison Operators
x,y = 4,5
print(
    x == y, # Equals
    x != y, # Does not equal
    x <  y, # Less than
    x >  y, # Greater than
    x <= y, # Less Equalls
    x >= y  # Greater Equalls
)

False True True False True False

In [10]:
# Multiple Comparison Operators 
print(
    x == x and x < y,
    0 < x < y < 100
)

True True

## Comparison Operators and Conditional Statements Together

In [11]:
if x == 4 and x < y and y < 6:
    print("Then y is 6.")

Then y is 6.